/* CSS files add styling rules to your content */

  .A1{
  width: 100%;
  height: 123px;
  background-color: #F2F1DF;
  position: relative;
  animation-name: myfirst;
  animation-duration: 900ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  }

#b1{animation-delay: 0s;}
#b2{animation-delay: 10ms;}
#b3{animation-delay: 30ms;}
#b4{animation-delay: 50ms;}
#b5{animation-delay: 70ms;}
#b6{animation-delay: 90ms;}



@keyframes myfirst {
  from {
    background-color: #F2F1DF;
    width: 0%;
    top: 0px;
  }
  100% {
    background-color: #333333;
      width: 100%;
    top: 0px;
}
}



   .c1{
   column-count: 3;
   column-gap: 20px;
  margin-left: 20px;
}

 .c2{
   column-count: 3;
   column-gap: 0px;
  margin-left: 500px;
}



 .container{
  width:98%;
  margin: 10px;
  top:60px;
  box-sizing: border-box;

}

.project{
  width:100%;
  box-sizing: border-box;
  margin-bottom: 50px;

}

.artwork{
  width:66.3%;
  height:auto;
  float:left;
  margin-top: 190px;
  padding:10px;
  box-sizing: border-box;
}

.description{
  width: 33.7%;
  height:100%;
  margin-top: 260px;
  max-height: 600px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.4rem;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #F2F1DF;
}

header{
  width:100%;
  height:153px;
  float: left;
  background:#333333;
  position: absolute;
  top:0;
  left: 0;
  margin: 0px;
  box-sizing: border-box;
  font-size: 1.1em;

}

.headerdiv {
    width: 33.1%;
    height: 100%;
    border-left: 1px;
    box-sizing: border-box;
    float: left;
    padding: 10px;
}


body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0em;
  width: 100%;
  height: 80%%;
  background-color: #F2F1DF;
}

h1 {
  color: #F2F1DF;
  font-size: 30pt;
}
.special-h2{
  margin-top:0;
}


h2 {
  font-size: 13pt;
  column-span: all;
/*   margin-top:0; */
}

a{
text-decoration: none;
color:#F2F1DF;
}

a:link{

}

a:hover{

}


button {
  font-family:'IBM Plex Mono', monospace;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 10px;
  width: 100%;
  /*   text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
}

p {
  font-size: 9pt;
  line-height: 18pt;
}

.left {
  width: 15%;
  padding: 1% 1% 1% 0;
  float: left;
  display: inline-block;
  /*   background-color: red; */
}

.center {
  width: 15%;
  padding: 1%;
  float: left;
  display: inline-block;
}

.right {
  width: 60%;
  padding: 1%;
  float: left;
  display: inline-block;
}

.nav {
  padding: 2%;
  width: 26%;
  height: 100%;
  display: inline-block;
  float: left;

}


ul {
  margin: 0;
  padding: 0;
  color:#F2F1DF;
}

li {
  font-size: 12pt;
  list-style-type: none;

  margin-top: 2px;
  color:#F2F1DF;
}

li.bullet {
  list-style-type: "- ";
  margin: 5%;
  padding: 0;
}

li.bullet a {
  color: blue;
}

li a {
  color: #F2F1DF;
  /*   text-decoration: none; */
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  /*   height: 400px; */
  display: inline-block;
  margin-bottom: 2%;
  
}

.full-width-box {
  width: 100%;
  margin-bottom: 2%;
  display: inline-block;
  float: left;

}

img {
  height: 400px;
  display: inline-block;
  float: left;
  margin-bottom: 2%;
  margin-right: 2%;
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: "Droid Sans Mono", monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

.nav-link {
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}
.nav-link a,
.nav-link a:visited {
  color: black;
  text-decoration: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Inconsolata", monospace;
    margin: 1%;
    width: 98%;
    height: 100%;
  }
  .nav {
    width: 100%;

  }
  .content {
    width: 100%;
    float: left;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.myBox {
  /*   background: red; */

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid black;
}

.fullwidth {
  width: 100%;
  float: left;
}

.nav{
  display: none;
}

